@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;600&display=swap");

body {
  background-color: rgba(5, 5, 5, 0.952);
  font-family: "Oswald", sans-serif;
  /* background-color: rgba(36, 5, 65, 0.644); */
}

.MuiInput-underline:before {
  border-bottom: 1px solid white !important;
}

.MuiInput-underline:after {
  border-bottom: 3px solid rgb(214, 205, 75) !important;
}

.MuiInputBase-root {
  color: lightgrey !important;
}

.MuiTableRow-root {
  font-family: "Oswald", sans-serif !important;
}
